@import 'tailwindcss';

:root {
  --background: #faf9ff;
  --foreground: #0a0832;
  --font-geist-sans: 'Sk-Modernist', Arial, Helvetica, sans-serif;
  --font-geist-mono: 'Fira Mono';
  --color-primary: #5c53ff;
  --color-secondary: #0a0832;
  --color-description: #888888;
  --color-bgCard: #f1f3ff;
}

/* 커스텀 폰트 선언: font 폴더 내 폰트 파일 사용 예시 */
@font-face {
  font-family: 'Pretendard-Bold';
  src: url('/font/Sk-Modernist-Bold.otf') format('opentype');
}

@font-face {
  font-family: 'Pretendard';
  src: url('/font/Sk-Modernist-Regular.otf') format('opentype');
}

/* 기본 폰트 패밀리 적용 */
/* :root {
  --font-geist-sans: 'Pretendard', Arial, Helvetica, sans-serif;
  --font-geist-mono: 'Fira Mono', 'Menlo', 'Monaco', monospace;
} */

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-primary: var(--color-primary);
  --color-secondary: var(--color-secondary);
  --color-description: var(--color-description);
  --color-bgCard: var(--color-bgCard);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Pretendard, Arial, Helvetica, sans-serif;
  padding: 14px 12px 0 12px;
}

@media (max-width: 767px) {
  html {
    scroll-padding-top: 110px;
  }
}

/* 태블릿 (640px - 767px) */
@media (min-width: 767px) {
  body {
    padding: 16px 24px 0 24px;
  }
}

/* PC (1023px 이상) */
@media (min-width: 1023px) {
  body {
    padding: 16px 48px 0 48px;
    max-width: 100%;
    overflow-x: hidden;
  }
}

.bold {
  font-family: 'Pretendard-Bold';
}
